@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	}
input {
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	}
input[type="submit"] {
	background: #BB00AE;
	border: 2px groove #750C7B;
	color: white;
	cursor: pointer;
	padding: 10px;
	}
input[type="submit"]:hover {
	background: #F500E4;
	}
button {
	background: #0089BB;
	border: 2px groove #0B4F7B;
	border-radius: 5px;
	padding: 10px;
	color: white;
	}
button a {
	text-decoration: none;
	color: white;
}
button:hover {
	background: #00B5F8;
	}